
.jumbotron{
    background-image: url("img/cinema.jpg");
    background-size: 100%;
    background-position: center;
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    background-color: darkgray;
    font-family: 'Bangers', cursive;
}


.table{
    width: 90%;
    margin-left: 50px;
}
.center{
    z-index: 10;
}
.display-4{
    margin-top: 20%;
    font-family: 'Bangers', cursive;
    color: whitesmoke;
    font-size: 100px;
}
.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    z-index: 10;
}
.products {
text-align: center;
}
/*styling for page loader*/
.loader {
    border-radius: 50%;
    border-left: 16px solid beige;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 800px;
    height: 800px;
    margin: -200px 0 0 -400px;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.load-title,#load-p{
    font-family: 'Bangers', cursive;
    object-position: center;
    text-align: center;
}

/*#extra-controls {*/
/*    display: none*/
/*}*/

/*div.hidden*/
/*{*/
/*    display: none*/
/*}*/
